.popup__conteiner-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 75vw;
  max-height: 75vh;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
}
