.popup__conteiner {
  width: 100%;
  max-width: 430px;
  height: 330px;
  background: white;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
  padding: 34px 36px 37px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 610px) {
  .popup__conteiner {
    max-width: 282px;
    padding: 25px 22px;
    height: 322px;
  }
}
