.card__group {
  width: 22px;
  background: none;
  border: none;
  box-shadow: none;
  background-image: url('../../../images/Group.svg');
  background-size: contain, 22px;
  background-repeat: no-repeat;
  background-position: center; 
}

.card__group:hover {
  opacity: .5;  
}

.card__group:active {
  background-image: url('../../../images/black.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}