.elements {
  max-width: 880px;
  margin: 51px auto 67px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 282px));
  column-gap: 17px;
  row-gap: 20px;
}

@media screen and (max-width: 1024px) {
  .elements {
    align-content: center;
    justify-content: center;
    margin-right: 72px;
    margin-left: 72px;
  }
}

@media screen and (max-width: 768px) {
  .elements {
    margin: 36px 50px 48px;
  }
}

@media screen and (max-width: 389px) {
  .elements {
    margin: 36px 19px 48px;
  }
}
