.popup__close {
  position: absolute;
  max-width: 32px;
  padding: 0;
  top: -40px;
  right: -40px;
  cursor: pointer;
  background: none;
  border: none;
  box-shadow: none;
}

.popup__close:hover {
  opacity: .6;  
}

@media screen and (max-width: 610px) {
  .popup__close {
    max-width: 20px;
    max-height: 20px;
    top: -34px;
    right: 0;
  }
}

