.profile__rectangle {
  max-width: 24px;  
  background-image: url('../../../images/pen.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  margin-left: 18px;
  margin-right: 0;
}

@media screen and (max-width: 482px) {
  .profile__rectangle {
    max-width: 18px;
    background-size: 7.5px;
    margin-left: 10px;
  }
}  